<div class="row">
  <aside class="col-md-4">
    <%= render 'shared/user_aside_info' %>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.follower_users.any? %>
      <h3>Followers (<%= @user.follower_users.count %>)</h3>
      <ol class="followers">
        <%= render partial: 'followers/follower', collection: @followers %> 
      </ol>
    <% end %>
  </div>
</div>