<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<!--
<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-2">Name</div>
    <div class="col-md-6">name</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-2">Mail</div>
    <div class="col-md-6">name</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-2">Place</div>
    <div class="col-md-6">name</div>
  </div>
</div>
-->